@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#center {
  display: grid;
  place-items: center;
  height: 100vh;
}

#image {
  animation: spin 1s linear infinite;
  aspect-ratio: 1.618;
  width: 25vmin;
}
