
{% extends 'shared/layout.html' %}
{% block content %}

        <title>{%block title%}About{%endblock%}</title>
        <div class="container-fluid h-50 bg-gradient2">

            <div class="container align-items-center py-5">
                <div class="row">
                    <div class="col">
                        <img class="img-fluid" src="/static/images/logo-no-slogan.png">
                    </div>
                    <div class="col">
                        <h1 class="py-4">Simple and informative.</h1>
                        <p>JobsNMore is your one-stop shop for job search and career advancement. 
                            The website tracks the latest job listing from multiple sources, the statistics on the skills required, 
                            and recommended online courses to fulfill skills.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container align-items-center">
            <h1 class="text-center py-5">Meet the Team</h1>
            <div class="row row-cols-1 row-cols-md-3 py-4 gy-4">
                <div class="col">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <h5 class="card-title">Willy Resendz</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Lead Frontend + Backend</h6>
                        </div>
                        <img class="w-85 mx-auto rounded" src="/static/images/About/pro.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">I am a third-year student at the University of Texas at Austin, 
                                majoring in Management Information Systems and pursuing a certificate in Computer Science.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class = "list-group-item">Commits: <span class=" ms-2 badge bg-primary rounded-pill">
                                {{commits[1]["wresendiz@utexas.edu"]}}
                            </span>
                            </li>
                            <li class = "list-group-item">Issues: <span class=" ms-2 badge bg-primary rounded-pill">
                                {{issues[1]["wresendiz"]}}
                            </span></li>
                            <li class = "list-group-item">Unit tests:<span class=" ms-2 badge bg-primary rounded-pill"> 1</span></li>

                        </ul>

                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <h5 class="card-title">Javier Ramirez</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Backend</h6>
                        </div>
                        <img class="mx-auto w-72 rounded" src="/static/images/About/headshot2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">I am third-year student at the University of Texas at Austin,
                                studying mechanical engineering with a certificate in Computer Science</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class = "list-group-item">Commits: <span class=" ms-2 badge bg-primary rounded-pill">
                                {{commits[1]["javier.ramirez5@utexas.edu"]}}
                            </span>
                            </li>
                            <li class = "list-group-item">Issues:<span class=" ms-2 badge bg-primary rounded-pill">
                                {{issues[1]["javier.ramirez5"]}}
                            </span></li>
                            <li class = "list-group-item">Unit tests: <span class=" ms-2 badge bg-primary rounded-pill"> 0</span></li>

                        </ul>

                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <h5 class="card-title">Cade Taylor</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Backend</h6>
                        </div>
                        <img class="w-90 mx-auto" src="/static/images/About/professionalpicture.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">I am a fourth-year student at the University of Texas at Austin,
                                studying Mathematics with a certificate in Computer Science</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class = "list-group-item">Commits: <span class=" ms-2 badge bg-primary rounded-pill">
                                {{commits[1]["cade.taylor01@gmail.com"]}}
                            </span>
                            </li>
                            <li class = "list-group-item">Issues:<span class=" ms-2 badge bg-primary rounded-pill"> 0</span></li>
                            <li class = "list-group-item">Unit tests:<span class=" ms-2 badge bg-primary rounded-pill"> 0</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 h-100">
                        <div class="card-body">
                            <h5 class="card-title">Jesus Munoz-Castaneda</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Backend</h6>
                        </div>
                        <img class="w-72 rounded mx-auto" src="/static/images/About/JesusAMCPic.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">A fourth-year chemistry student with a certificate in computer science at the 
				University of Texas at Austin.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class = "list-group-item">Commits: <span class=" ms-2 badge bg-primary rounded-pill">
				                {{commits[1]["jesusamc@utexas.edu"]}}
			                </span>
			                </li>
                            <li class = "list-group-item">Issues:<span class=" ms-2 badge bg-primary rounded-pill"> 0</span></li>
                            <li class = "list-group-item">Unit tests:<span class=" ms-2 badge bg-primary rounded-pill"> 0</span></li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="container py-5 align-items-center">
            <h1 class="text-center py-5">Project Stats</h1>
            <ul class="list-group mx-5">
                <li class="list-group-item d-flex justify-content-between">Total Commits
                    <span class="badge bg-primary rounded-pill">{{commits[0]}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">Total Issues
                    <span class="badge bg-primary rounded-pill">{{issues[0]}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">Total Unit Tests
                    <span class="badge bg-primary rounded-pill">1</span>
                </li>
            </ul>
            <div class="buttondiv">
                <a href="https://gitlab.com/javier.ramirez5/cs331e-idb/-/boards" class="btn btn-primary" target="_blank">
                    <span class="fab fa-gitlab"> Issue Tracker</span>
                </a>
                <a href="https://gitlab.com/javier.ramirez5/cs331e-idb" class="btn btn-primary" target="_blank">
                    <span class="fab fa-gitlab"> Repo</span>
                </a>
                <a href="https://gitlab.com/javier.ramirez5/cs331e-idb/-/wikis/JobsNMore" class="btn btn-primary" target="_blank">
                    <span class="fab fa-gitlab"> Wiki</span>
                </a>
            </div>
        </div>
        <div class="container py-5">
            <h1 class="text-center py-5">Data Sources</h1>
            <div class = "row py-4 align-items-center">
                <div class="col">
                    <a href="https://rapidapi.com/community/api/bls-public-data/" target="_blank">
                    <img class="w-75 mx-auto" src="/static/images/About/Data/bls.png">
                    </a>  
                </div>
                <div class="col">
                    <a href = "https://www.census.gov/data/developers/data-sets.html" target="_blank">
                        <img class="w-75 mx-auto" src="/static/images/About/Data/census.png">
                    </a>
                </div>
                <div class="col">
                    <a href = "https://rapidapi.com/LinkUpJobSearch/api/linkup-job-search/" target="_blank">
                    <img class="w-75 mx-auto" src="/static/images/About/Data/linkup.png">
                    </a>
                </div>
            </div>
            <div class = "row py-4 align-items-center">
                <div class="col">
                    <a href = "https://services.onetcenter.org/v1.9/reference/mnm/career/state/" target="_blank">
                    <img class="w-75 mx-auto" src="/static/images/About/Data/onet.png">
                    </a>
                </div>
                <div class="col">
                    <a href = "https://rapidapi.com/ItsYourSkills/api/skills-profiler/" target="_blank">
                    <img class="w-75 mx-auto" src="/static/images/About/Data/skills.png">
                    </a>
                </div>
                <div class="col">
                    <a href = "https://docs.gitlab.com/ee/api/" target="_blank">
                    <img class="w-75 mx-auto" src="/static/images/About/Tools/gitlab.png">
                    </a>
                </div>
            </div>
            <div class = "row py-4 align-items-center">
                <div class="col-4">
                    <a href = "https://rapidapi.com/janzz-ltd-janzz-ltd-default/api/ontology1/" target="_blank">
                    <img class="w-75 mx-auto" src="/static/images/About/Data/janzz.png">
                    </a>
                </div>
                <div class="col-4">
                    <a href = "https://developers.google.com/youtube/v3/" target="_blank">
                    <img class="w-75 mx-auto" src="/static/images/About/Data/yotuube.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <h1 class="text-center py-5">Tools Used</h1>
            <div class = "row py-4 align-items-center">
                <div class = "col">
                    <img class = "w-75 mx-auto" src = "/static/images/About/Tools/flask.png"> 
                </div>
                <div class = "col">
                    <img class = "w-75 mx-auto" src = "/static/images/About/Tools/pytest.png"> 
                </div>
                <div class = "col">
                    <img class = "w-75 mx-auto" src = "/static/images/About/Tools/requests.png"> 
                </div>
            </div>
            <div class = "row py-4  align-items-center">

                <div class="col">
                    <img class = "w-75 mx-auto" src = "/static/images/About/Tools/bootstrap.png"> 

                </div>
                <div class="col">
                    <img class = "w-75 mx-auto" src = "/static/images/About/Tools/gitlab.png"> 

                </div>
                <div class="col">
                    <img class = "w-75 mx-auto" src = "/static/images/About/Tools/slack.png"> 
                </div>
            </div>
        </div>
{% endblock%}
