{% extends 'shared/layout.html' %}
{% block content %}
<title>{%block title%}Jobs{%endblock%}</title>
    <h1 class="text-center py-5">Jobs</h1>
    <div class="container align-items-center min-vh-100">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% for i in headers %}
                    <th scope="col">{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in job %}
                    <tr>
                        <th scope="row">{{i.Title}}</th>
                        <td>{{i.Company}}</td>
                        <td>{{i.Location}}</td>
                        <td><a href="{{i.Link}}">Link</a></td>
                        <td>{{i.Date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}