{% extends 'shared/layout.html' %}
{% block content %}
<title>{%block title%}Locations{%endblock%}</title>


    <h1 class="text-center py-5">Locations</h1>
    <div class="container align-items-center min-vh-100">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% for i in headers %}
                    <th scope="col">{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in locations %}
                    <tr>
                        <th scope="row">{{i.City}}</th>
                        <td>{{i.State}}</td>
                        <td>{{i.Unemployment}}</td>
                        <td>{{i.Salary}}</td>
                        <td>{{i.Rent}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}