{% extends 'shared/layout.html' %}
{% block content %}
<title>{%block title%}Skills{%endblock%}</title>


    <h1 class="text-center py-5">Skills</h1>
    <div class="container align-items-center min-vh-100">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% for key in skills['Excel'] %}
                    <th scope="col">{{key}}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dict in skills %}
                    <tr>
                        <th scope="row">{{skills[dict]['Name']}}</th>
                        <td>{{skills[dict]['Certifications']}}</td>
                        <td>{{skills[dict]['Level']}}</td>
                        <td>{{skills[dict]['Industry']}}</td>
                        {% if skills[dict]['Courses'] | length > 1 %}
                        <td>
                            {% for course in skills[dict]['Courses'] %}
                                {{courses[course]['Name']}}<br>
                            {% endfor %}
                        </td>
                        {% else %}
                        <td>{{courses[skills[dict]['Courses'][0]]['Name']}}</td>
                        {% endif %}
                        <td><a href="{{url_for('view_skill', skill_id=dict)}}">Details</a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}