{% extends 'shared/layout.html' %}
{% block content %}
<title>{%block title%}Skills{%endblock%}</title>


    <h1 class="text-center py-5">Skills</h1>
    <div class="container align-items-center min-vh-100">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% for i in headers %}
                    <th scope="col">{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in skill %}
                    <tr>
                        <th scope="row">{{i.Name}}</th>
                        <td>{{i.Certifications}}</td>
                        <td>{{i.Skill}}</td>
                        <td>{{i.Industry}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}