{% extends 'shared/layout.html' %}
{% block content %}
<title>{%block title%}Courses{%endblock%}</title>

    <h1 class="text-center py-5">Courses</h1>
    <div class="container align-items-center min-vh-100">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {% for key in courses['CourseID1'] %}
                    <th scope="col">{{key}}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for dict in courses %}
                    <tr>
                        <th scope="row">{{courses[dict]["Name"]}}</th>
                        <td>{{courses[dict]["Time"]}}</td>
                        <td>{{courses[dict]["Cost"]}}</td>
                        <td>{{courses[dict]["Provider"]}}</td>
                        <td><a href="{{courses[dict]['Link']}}" target="_blank">Link</a></td>
                        <td><a href="{{url_for('view_course', course_id=dict)}}">Details</a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}